/* General Reset and Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    /* Default to dark mode */
    color: #FFFFFF;
    line-height: 1.6;
    margin: 0;
}

/* Container */
.container {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

/* Header Styling */
.header {
    background-color: #1E1E1E;
    padding: 20px 10px;
    border-bottom: 1px solid #333;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.header-controls {
    display: flex;
    gap: 15px;
    align-items: center;
}

button#toggle-theme {
    background-color: #333;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

button#toggle-theme:hover {
    background-color: #FFFFFF;
    color: #121212;
}

a.logout {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    background-color: #E53935;
    transition: background-color 0.3s;
}

a.logout:hover {
    background-color: #C62828;
}

/* Main Content */
.main-content {
    padding: 20px 10px;
}

.folder {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #1E1E1E;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.folder h2 {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.notes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.note {
    padding: 15px;
    border-radius: 5px;
    background-color: #292929;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    transition: background-color 0.3s;
}

.note:hover {
    background-color: #333;
}

.note h3 {
    font-size: 18px;
    margin-bottom: 10px;
    /* Space between title and description */
}

.note-description {
    font-size: 14px;
    color: #999;
}

/* Delete Button */
.delete-form {
    display: inline-block;
    margin-top: 10px;
}

.delete-button {
    background-color: #E53935;
    border: none;
    padding: 10px 15px;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #C62828;
}

/* Footer */
footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

footer a.add-note {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 40px;
    background-color: #E53935;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

footer a.add-note:hover {
    background-color: #C62828;
}

/* Dark/Light Mode Toggle */
body.light-mode {
    background-color: #FFFFFF;
    color: #000000;
}

body.light-mode button#toggle-theme {
    color: #000;
    border-color: #000;
}

body.light-mode button#toggle-theme:hover {
    background-color: #000000;
    color: #FFFFFF;
}

body.light-mode .folder,
body.light-mode .note {
    background-color: #F1F1F1;
    color: #000;
}

body.light-mode .folder h2,
body.light-mode .note h3 {
    border-color: #CCC;
}

body.light-mode .note-description {
    color: #555;
}

body.light-mode .delete-button {
    background-color: #C62828;
    color: #FFFFFF;
}

body.light-mode .delete-button:hover {
    background-color: #B71C1C;
}

body.light-mode footer a.add-note {
    background-color: #C62828;
}

/* Media Query for Mobile */
@media (max-width: 480px) {
    .header h1 {
        font-size: 20px;
    }

    button#toggle-theme {
        font-size: 14px;
        padding: 8px;
    }

    .header-controls {
        gap: 10px;
    }

    .folder h2 {
        font-size: 18px;
    }

    .note h3 {
        font-size: 16px;
    }

    .note-description {
        font-size: 12px;
    }

    footer a.add-note {
        width: 50px;
        height: 50px;
        font-size: 30px;
        line-height: 50px;
    }
}

.edit-folder-link {
    font-size: 0.8em;
    margin-left: 10px;
    background-color: #1976D2;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.edit-folder-link:hover {
    background-color: #11467B;
}

body.light-mode .edit-folder-link {
    background-color: #0D47A1;
}

body.light-mode .edit-folder-link:hover {
    background-color: #0b3a72;
}


.edit-folder-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.edit-folder-form label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.edit-folder-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #C62828;
    border-radius: 5px;
    background-color: #333;
    color: #ffffff;
    font-size: 1em;
}

.edit-folder-form input[type="text"]:focus {
    outline: none;
    border-color: #C62828;
}

.error-message {
    color: #f44336;
    margin-bottom: 20px;
}

.submit-button {
    background-color: #1976D2;
    border: none;
    padding: 10px 15px;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #11467B;
}

footer {
    text-align: right;
    margin-right: 20px;
}

.back-button {
    background-color: #C62828;
    border: none;
    padding: 10px 15px;
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #621212;
}

